# Python / venv
.venv/
**/.venv/
__pychache__/
**/__pycache__/
*.pyc

# Test/cache/logs
**/.pytest_cache/
**/*.log

# Env files / secrets
.env
**/.env

# Data outputs
data/*.json

# Generated OpenAPI spec
openapi.json
